


*{
    margin: 0;
    padding: 0;


}
body{
    background-image: linear-gradient(to right top, #3a9067, #00776b, #005e65, #134452, #1d2c38, #182433, #151c2d, #131427, #121536, #101646, #0e1655, #0d1564);


    background-size: cover;
    font-family: Jersey 15;
    overflow: hidden;
}

.main{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #08e65d;
    font-size: 30px;
    font-family: Jersey 15, sans-serif;
    padding-left: -20px;
    float: left;
    padding-top: 20px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Jersey 15, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #08e65d;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: Jersey 15, sans-serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #08e65d;
    margin-top: 17px;
    color: #fff;
    border-right: none;
    font-size: 15px;
    float: left;
    padding-left: 10px;
    border-bottom: 2px solid #08e65d;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 5px;

}
.btn{
    width: 100px;
    height: 43px;
    background-color: #08e65d;
    border: 2px solid #08e65d;
    margin-top: 17px;
    float: left;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 10px;

}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    color: #fff;
    width: 100px;
    height: none;
    margin-left: 40px;
    margin-top: 40px;
    color: #08e65d;
    font-size: 50px;

}
.info{
    width: 500px;
    margin-left: 70px;
    margin-top: 0
}
p{
    color: white;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
}

.info .cn{
    width: 160px;
    height: 40px;
    background: #08e65d;
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.info .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;

}
.cn:hover{
    background-color: #fff;
}
.info span{
    color: #08e65d;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background-color: transparent;
    position: absolute;
    top: 120px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;

}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    font-size: 22px;
    color: #08e65d;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #08e65d;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;

}

::placeholder{
    color: #fff;
    font-family: Arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #08e65d;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;

}

.btnn:hover{
    background-color: #fff;
    color: #08e65d;
}
.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold
}

.form .link{
    font-family: Arial;
    font-size: 17px;
    padding-top: 10px;
    text-align: center;
    padding-right: 30px;

}
.form .account{
    font-family: Arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    padding-right: 30px;
}

.form .link a{

    text-decoration: none;
    color: #08e65d;
}

.liw{
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.anchor{
    padding-top: 10px;
    margin-top: 2px;
}

.form .icons a{
    text-decoration: none;
    color: #fff;
}

.form .icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 2px;
    transition: .3s ease;
}

.form .icons ion-icon:hover{
    color: #08e65d;
}

.register{
    background: transparent;
    color: #08e65d;
    margin-left: 550px;
    width: 250px;
    height: 600px;
    margin-top: 70px;


}
.register h2{
    text-align: center;
    margin-left: -50px;
}
.register input{
    margin: 20px;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #08e65d;
}
.register ::placeholder{
    text-align: center;
    font-size: 12px;
}

.register button{
    width: 40%;
    height: 30px;
    margin-left: 60px;
    background: #08e65d;
    border: none;
    border-radius: 10px;

}

.register button:hover{
    background-color: #fff;
    color: #08e65d;
}
.register p{
    font-size: 16px;
    text-align: center;
    margin-left: -40px;
}
.register a{
    color: #08e65d;
    text-decoration: none;
}

.register .icons{
    margin-top: 10px;
    margin-left: 60px;
}
.register .icons icon-icon{
    padding: 10px;
}
.register .icons ion-icon:hover{
    color: white;
}
