body{
    background-color: aquamarine;
}


.button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    transition: .3s ease-in-out;
}
.button:hover{
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    transform: scale(1.03);
}

.mode{
    background-color: rgb(0, 0, 0);

}
.fontme{
    color: white !important;
}
